@font-face {
    font-family: natureza;
    src: url("./fonts/NatureSpiritRough-z8mJD.otf")
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: #c9edce;
    background-image: url(https://wallpapers.com/images/hd/common-ivy-plant-4k-desktop-background-w4zuur31emg72qss.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
}

header {
    background-color: #3a5a40;
    height: 80px;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.header-logo img {
    width: 100%;
    width: 65px;
    height: 65px;
}

.header-logo {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.header-logo h1 {
    color: #A0D468;
    font-family: natureza;
    font-size: 35px;
    align-self: center;
    letter-spacing: 5px;
    white-space: nowrap;
    text-shadow: 3px 3px 1px black;
    margin: 0 auto;
}

.header-logo h1:hover {
    text-shadow: 5px 5px 1px black;
    
}

.header-logo a{
    height: 65px;
    width: 65px;
}

a {
    text-decoration: none;
}

.social-media {
    align-items: center;
    display: flex;
    gap: 10px;
}

.social-media img {
    width: 40px;
    filter: drop-shadow(2px 2px 1px black);
    border: 1px solid transparent;
}

.social-media img:hover {
    border: 2px solid #A0D468;
    border-radius: 40px;
}

section {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

#banner .container {
    background-image: url(https://images6.alphacoders.com/114/1142152.jpg);
    background-size: cover;
    position: relative;
    color: #3a5a40;
    background-position: center;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-info button {
    border-radius: 10px;
    border: 0;
    background-color: #A0D468;
    color: white;
    padding: 5px 20px;
    font-family: natureza;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 0 auto;
}

button:hover {
    border: 2px solid white;
}

.banner-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

#how-it-works {
    display: flex;
}

#how-it-works .container {
    background-color: #344e41;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works-title h1, .how-it-works-title h2 {
    color: white;
    text-align: center;
}

.how-it-works-title h2 {
    font-size: 14px;
}

#how-it-works img {
    height: 120px;
    width: 120px;
}

.how-it-works-title {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
    justify-content: center;
}

.gardening {
    display: flex;
    flex: 2;
}

.gardening-desc {
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: #A0D468;
    height: 230px;
    width: 1080px;
    padding: 10px;
    align-items: center;
}

.gardening-desc img {
    background-color: white;
    border-radius: 10px;
    border: 1px solid transparent;
}

.gardening-desc img:hover {
    border: 2px solid #A0D468;
}

.gardening-desc h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    width: 120px;
    color: white;
}

#products {
    display: flex;
}

#products .container {
    background-color: #4f772d;
    display: flex;
    align-content: center;
    justify-content: center;
}

.sale {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://www.10wallpaper.com/wallpaper/1920x1080/1308/Plant_green_shoots_eye_computer_desktop_wallpaper_16_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sale-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width: 200px;
    color: white;
    flex: 2;
    gap: 150px;
    padding: 10px;
}

.sale-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.sale-img img:hover {
    background-size: cover;
    transform: scale(1.1);
}

.sale-img h1 {
    margin-top: 10px;
    background-color: #A0D468;
    border-radius: 5px;
}

.sale-img h2 {
    margin-top: 10px;
    background-color: #A0D468;
    border-radius: 5px;
}

.sale-desc {
    display: flex;
    justify-content: center;
    color: white;
    flex: 1;
    width: 1080px;
    align-items: center;
}

.sale-desc h1 {
    height: fit-content;
}

.sale-img div {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sale-img button {
    margin-top: 10px;
    background-color: #A0D468;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-family: natureza;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid transparent;
}

.sale-img button:hover {
    border: 2px solid white;
}

footer .container {
    display: flex;
    width: 1080px;
    justify-content: center;
}

.footer-space {
    display: flex;
    width: 1080px;
    height: 40px;
    background-color: #A0D468;
    align-items: center;
    color: white;
    font-size: 12px;
    padding-left: 10px;
}

/* section .container::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #c9edce71;
    left: 0;
    backdrop-filter: blur(1px);
}

section h1, section button, section p {
    position: relative;
    z-index: 1;
} */

